.App {
  text-align: center;
  background-color: rgb(218, 221, 231);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.position-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.description-wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
